/*Guest-book*/

.customer{
	border:1px ridge lightgrey;
}

.comment-body{
	border: 1px solid black;
	background-color:darkgrey;
	color:white;
}


#messages .comment{
	margin-top:4%;
}

#submitGuestBook li{
	max-width:29%;
}

#submitGuestBook img{
	max-width:100%;
}

/* Home presentation */

.sectiontitle {
	padding-top: 2%;
	text-align: center;
}

.container {
	padding-top: 3%;
}

#presentationtext {
	padding-top: 5%;
	padding-bottom: 5%;
}

#presentationimg {
	padding-top: 2%;
}


.contact_text {
	text-align: center;
	padding-top: 3%;
	padding-bottom: 4%;
}

/* Euratech */

.card.events:hover > img#event {
	z-index: -1;
}

img#event {
	z-index: 1;
}

img#eventhidden{
	position: absolute;
	left: 0;
	z-index: 0;
}



/* Footer */
